@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
body{
    /* background-image: linear-gradient(135deg,#8600F0,#000000 15%); */
    background-color: black;
    font-family: 'Poppins', sans-serif;}
    /* SCROLLBAR  */

/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #8600F0; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(rgb(77, 15, 154),rgb(52, 10, 242)); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #7928b8; 
  }
.purple{
    background: -webkit-linear-gradient(#8600F0, #FF3269);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.top-sec{
    background-image: linear-gradient(135deg,#8600F0,#000000 15%);
}
.top-sec1{
    background-image: linear-gradient(#000000 30%,rgba(134,0,240,0.2), #000000 70%);
}
.main-sec{
    max-height: 80vh;
}
.game-h{
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 74px;
    color: #fff;
}
.arcade-h{
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 50px;
    color: #fff;
}
.btn-view1{
    border: 2px solid #8600F0;
    border-radius: 20px;

}
.main-right{
    background-image: url('../images/main.png');
    background-size: cover;
    max-height: 85vh;
    background-position: center;
}
.main-left{
    max-height: 80vh;
}
.main-para{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: rgba(255, 255, 255, 0.8);
}
.pg-2{
    background: url('../images/2nd-page.png');
    height: 1750px; 
    background-size: cover;
    border: 2px solid #8600F0;
    border-radius: 20px;
    
}
.con-arcade{
    border: 2px solid #8600F0;
    border-radius: 30px;
}
.footer-a{
    text-decoration: none;
    color: white;
}
