@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
body{
    /* background-image: linear-gradient(135deg,#8600F0,#000000 15%); */
    background-color: green;
    font-family: 'Poppins', sans-serif;}
.purple{
    background: -webkit-linear-gradient(#8600F0, #FF3269);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.top-sec{
    background-image: linear-gradient(135deg,#8600F0,#000000 15%);
}
.main-sec{
    min-height: 80vh;
}
.game-h{
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 74px;
    color: #fff;
}
.btn-view1{
    border: 2px solid #8600F0;
    border-radius: 20px;

}
.main-right{
    background-image: url('../images/main.png');
    background-size: cover;
    max-height: 85vh;
}
.main-left{
    min-height: 80vh;
}
.main-para{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: rgba(255, 255, 255, 0.8);
}